#AL { fill: rgb(calc(255 * 0.63144336722713), var(--green), calc(255 * 0.36855663277287)); filter: url(#red-inset);}
#AK { fill: rgb(calc(255 * 0.655627574509329), var(--green), calc(255 * 0.344372425490671)); filter: url(#red-inset);}
#AZ { fill: rgb(calc(255 * 0.485908531556254), var(--green), calc(255 * 0.514091468443746)); filter: url(#yellow-inset);}
#AR { fill: rgb(calc(255 * 0.645086816982067), var(--green), calc(255 * 0.354913183017933)); filter: url(#red-inset);}
#CA { fill: rgb(calc(255 * 0.334927052419588), var(--green), calc(255 * 0.665072947580413)); filter: url(#blue-inset);}
#CO { fill: rgb(calc(255 * 0.431624756953669), var(--green), calc(255 * 0.568375243046331)); filter: url(#blue-inset);}
#CT { fill: rgb(calc(255 * 0.404577902314006), var(--green), calc(255 * 0.595422097685994)); filter: url(#blue-inset); }
#DE { fill: rgb(calc(255 * 0.403532221883461), var(--green), calc(255 * 0.596467778116539)); filter: url(#blue-inset);}
#DC { fill: rgb(calc(255 * 0.056810920193127), var(--green), calc(255 * 0.943189079806873)); filter: url(#blue-inset);}
#FL { fill: rgb(calc(255 * 0.517267899467568), var(--green), calc(255 * 0.482732100532433)); filter: url(#red-inset);}
#GA { fill: rgb(calc(255 * 0.502986475854891), var(--green), calc(255 * 0.497013524145109)); filter: url(#yellow-inset);}
#HI { fill: rgb(calc(255 * 0.349574327351868), var(--green), calc(255 * 0.650425672648132)); filter: url(#blue-inset);}
#ID { fill: rgb(calc(255 * 0.65725731644406), var(--green), calc(255 * 0.34274268355594)); filter: url(#red-inset);}
#IL { fill: rgb(calc(255 * 0.436956725023821), var(--green), calc(255 * 0.56304327497618)); filter: url(#blue-inset);}
#IN { fill: rgb(calc(255 * 0.599035154432047), var(--green), calc(255 * 0.400964845567954)); filter: url(#red-inset);}
#IA { fill: rgb(calc(255 * 0.541936232837453), var(--green), calc(255 * 0.458063767162548)); filter: url(#red-inset);}
#KS { fill: rgb(calc(255 * 0.57986882274153), var(--green), calc(255 * 0.42013117725847)); filter: url(#red-inset);}
#KY { fill: rgb(calc(255 * 0.637682159972845), var(--green), calc(255 * 0.362317840027155)); filter: url(#red-inset);}
#LA { fill: rgb(calc(255 * 0.594711045868014), var(--green), calc(255 * 0.405288954131987)); filter: url(#red-inset);}
#ME { fill: rgb(calc(255 * 0.445352074806975), var(--green), calc(255 * 0.554647925193025)); filter: url(#blue-inset);}
#MD { fill: rgb(calc(255 * 0.357277615297136), var(--green), calc(255 * 0.642722384702864)); filter: url(#blue-inset);}
#MA { fill: rgb(calc(255 * 0.321532805904224), var(--green), calc(255 * 0.678467194095776)); filter: url(#blue-inset);}
#MI { fill: rgb(calc(255 * 0.487543511289341), var(--green), calc(255 * 0.512456488710659)); filter: url(#blue-inset);}
#MN { fill: rgb(calc(255 * 0.463647101555329), var(--green), calc(255 * 0.536352898444671)); filter: url(#blue-inset);}
#MS { fill: rgb(calc(255 * 0.60208615258143), var(--green), calc(255 * 0.39791384741857)); filter: url(#red-inset);}
#MO { fill: rgb(calc(255 * 0.579364456198231), var(--green), calc(255 * 0.420635543801769)); filter: url(#red-inset);}
#MT { fill: rgb(calc(255 * 0.581917157195551), var(--green), calc(255 * 0.418082842804449)); filter: url(#red-inset);}
#NE { fill: rgb(calc(255 * 0.600482460593166), var(--green), calc(255 * 0.399517539406834)); filter: url(#red-inset);}
#NV { fill: rgb(calc(255 * 0.496728855625624), var(--green), calc(255 * 0.503271144374376)); filter: url(#yellow-inset);}
#NH { fill: rgb(calc(255 * 0.46365546995928), var(--green), calc(255 * 0.53634453004072)); filter: url(#blue-inset);}
#NJ { fill: rgb(calc(255 * 0.386537541355645), var(--green), calc(255 * 0.613462458644355)); filter: url(#blue-inset);}
#NM { fill: rgb(calc(255 * 0.445885520257086), var(--green), calc(255 * 0.554114479742914)); filter: url(#blue-inset);}
#NY { fill: rgb(calc(255 * 0.409273395564526), var(--green), calc(255 * 0.590726604435474)); filter: url(#blue-inset);}
#NC { fill: rgb(calc(255 * 0.507121759375354), var(--green), calc(255 * 0.492878240624646)); filter: url(#yellow-inset);}
#ND { fill: rgb(calc(255 * 0.671993913896508), var(--green), calc(255 * 0.328006086103492)); filter: url(#red-inset);}
#OH { fill: rgb(calc(255 * 0.541110454319511), var(--green), calc(255 * 0.458889545680489)); filter: url(#red-inset);}
#OK { fill: rgb(calc(255 * 0.669358457296511), var(--green), calc(255 * 0.330641542703489)); filter: url(#red-inset);}
#OR { fill: rgb(calc(255 * 0.412971957267953), var(--green), calc(255 * 0.587028042732047)); filter: url(#blue-inset);}
#PA { fill: rgb(calc(255 * 0.513116343870402), var(--green), calc(255 * 0.486883656129598)); filter: url(#yellow-inset);}
#RI { fill: rgb(calc(255 * 0.397503397083578), var(--green), calc(255 * 0.602496602916422)); filter: url(#blue-inset);}
#SC { fill: rgb(calc(255 * 0.560983715930712), var(--green), calc(255 * 0.439016284069288)); filter: url(#red-inset);}
#SD { fill: rgb(calc(255 * 0.633079575358343), var(--green), calc(255 * 0.366920424641657)); filter: url(#red-inset);}
#TN { fill: rgb(calc(255 * 0.618834085218063), var(--green), calc(255 * 0.381165914781937)); filter: url(#red-inset);}
#TX { fill: rgb(calc(255 * 0.529796349518156), var(--green), calc(255 * 0.470203650481844)); filter: url(#red-inset);}
#UT { fill: rgb(calc(255 * 0.605065973687239), var(--green), calc(255 * 0.394934026312761)); filter: url(#red-inset);}
#VT { fill: rgb(calc(255 * 0.328437167513891), var(--green), calc(255 * 0.67156283248611)); filter: url(#blue-inset);}
#VA { fill: rgb(calc(255 * 0.453452831286197), var(--green), calc(255 * 0.546547168713803)); filter: url(#blue-inset);}
#WA { fill: rgb(calc(255 * 0.383957718196313), var(--green), calc(255 * 0.616042281803687)); filter: url(#blue-inset);}
#WV { fill: rgb(calc(255 * 0.698875292703649), var(--green), calc(255 * 0.301124707296351)); filter: url(#red-inset);}
#WI { fill: rgb(calc(255 * 0.496835138328064), var(--green), calc(255 * 0.503164861671936)); filter: url(#blue-inset);}
#WY { fill: rgb(calc(255 * 0.724654036645308), var(--green), calc(255 * 0.275345963354692)); filter: url(#red-inset);}